---
# sitedata comes from _data/sitedata.json
permalink: "{{ sitedata.jsonfeed.path }}"
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ sitedata.title }}",
  "language": "{{ sitedata.language }}",
  "home_page_url": "{{ sitedata.url }}",
  "feed_url": "{{ sitedata.jsonfeed.url }}",
  "description": "{{ sitedata.description }}",
  "author": {
    "name": "{{ sitedata.author.name }}",
    "url": "{{ sitedata.author.url }}"
  },
  "items": [
    {%- for post in collections.posts | reverse %}
  {%- set absolutePostUrl %}{{ post.url | url | absoluteUrl(sitedata.url) }}{% endset -%}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "content_html": {% if post.templateContent %}{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | dump | safe }}
  {% else %}""{% endif %},
      "date_published": "{{ post.date | rssDate }}"
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
{%- endfor %}
]
}
