<header>
  <a href="{{ '/' | url }}" aria-label="back to homepage">
    <h1 class="home">{{ sitedata.title }}</h1>
    <img src="../../img/logo.png" alt="header image" />
  </a>

  <ul class="nav">
    {%- for entry in collections.all | eleventyNavigation %}
      <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
        <a href="{{ entry.url | url }}" aria-label="header menu entry">{{ entry.title }}</a>
      </li>
    {%- endfor %}
  </ul>
</header>